---
- name: Install docker packages
  become: true
  become_user: aur_builder
  kewlfft.aur.aur:
    name: "{{ arch_docker_packages }}"
    use: yay
- name: Add user to docker group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_facts['user_id'] }}"
    groups: docker
    append: true
- name: Enable and start docker service
  become: true
  ansible.builtin.systemd:
    name: docker.service
    enabled: true
    state: started
