---
- name: Load and decrypt shared variables
  ansible.builtin.set_fact:
    cacheable: true
    # This takes the dict from SOPS and applies it to the host
    "{{ item.key }}": "{{ item.value }}"
  loop: "{{ lookup('community.sops.sops', playbook_dir + '/vars/docker_swarm.sops.yml') | from_yaml | dict2items }}"
  no_log: true # Recommended to hide sensitive values from terminal output

- name: Ensure directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ remote_root }}"
    - "{{ remote_data }}"
    - "{{ remote_config }}"
    - "{{ remote_root }}/compose"

- name: Sync config directory
  ansible.posix.synchronize:
    src: "{{ role_path }}/templates/config"
    dest: "{{ remote_root }}"
    delete: true

- name: Template config files
  ansible.builtin.template:
    src: "config.j2/{{ item.folder }}/{{ item.file }}.j2"
    dest: "{{ remote_config }}/{{ item.folder }}/{{ item.file }}"
    mode: "0644"
  loop:
    - folder: certs
      file: cloudflare.ini
    - folder: traefik
      file: traefik.yml
    - folder: traefik/dynamic
      file: dynamic_conf.yml

- name: Template Master file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ remote_root }}/docker-compose.yml"
    mode: "0644"

- name: Template Service components
  ansible.builtin.template:
    src: "compose/{{ item }}.yml.j2"
    dest: "{{ remote_root }}/compose/{{ item }}.yml"
    mode: "0644"
  loop: "{{ enabled_services }}"

- name: Deploy Docker Swarm Stack (via CLI)
  ansible.builtin.shell:
    cmd: >
      docker stack deploy  -c {{ remote_root }}/docker-compose.yml
      {% for service in enabled_services %}
      -c {{ remote_root }}/compose/{{ service }}.yml
      {% endfor %}
      --prune
      home
  register: stack_deploy_result
  changed_when: "'Creating' in stack_deploy_result.stdout or 'Updating' in stack_deploy_result.stdout"

- name: Show Deployment Output
  ansible.builtin.debug:
    var: stack_deploy_result.stdout_lines
