---
- name: Install Docker SDK via apt
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop:
    - python3-docker
    - python3-jsondiff

- name: Initialize Docker Swarm
  community.docker.docker_swarm:
    state: present
    advertise_addr: "{{ ansible_host }}"
  register: swarm_info
  # - name: Store Join Tokens
  #   set_fact:
  #     worker_token: "{{ hostvars[groups['managers'][0]]['swarm_info']['swarm_facts']['JoinTokens']['Worker'] }}"
  #     manager_addr: "{{ hostvars[groups['managers'][0]]['ansible_host'] }}"
  # - hosts: docker_swarm_workers
  #   become: true
  #   tasks:
  #     - name: Join Worker Nodes to Swarm
  #       community.docker.docker_swarm:
  #         state: join
  #         advertise_addr: "{{ ansible_host }}"
  #         join_token: "{{ hostvars[groups['managers'][0]]['worker_token'] }}"
  #         remote_addrs: [ "{{ hostvars[groups['managers'][0]]['manager_addr'] }}:2377" ]
