services:
  beszel:
    image: henrygd/beszel:latest
    networks:
      - local_net
    # dns:
    #   - ${LOCAL_DNS} 
    environment:
      - APP_URL={{ beszel_monitore_url }}
      - USER_CREATION=true
      - SHARE_ALL_SYSTEMS=true
    # - DISABLE_PASSWORD_AUTH=true
    deploy:
      replicas: 1
      placement:
        constraints:
          - "node.role == manager"
      labels:
      # Network
      - "traefik.enable=true"
      # Local
      - "traefik.http.routers.beszel.rule=Host(`beszel.{{ top_local_domain }}`)"
      - "traefik.http.routers.beszel.entrypoints=web"
      - "traefik.http.services.beszel.loadbalancer.server.port=8090"
    volumes:
      - {{  remote_data }}/beszel/beszel_data:/beszel_data
      - {{  remote_data }}/beszel/beszel_socket:/beszel_socket

  beszel-agent:
    image: henrygd/beszel-agent
    container_name: beszel-agent
    deploy:
      mode: global
      placement:
        constraints: [node.platform.os == linux]
      labels:
        - "traefik.enable=false"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ remote_data }}/beszel/beszel_agent_data:/var/lib/beszel-agent
    dns:
      - {{ local_dns }} 
    environment:
      LISTEN: 45875
      KEY: {{ beszel_key }}
      TOKEN: {{ beszel_token }} 
      HUB_URL: {{ beszel_monitore_url }}


