# services:
  miniflux:
    image: miniflux/miniflux:latest
    networks:
      - local_net
    deploy:
      replicas: 1
      placement:
        constraints:
          - "node.role == manager"
    environment:
      - DATABASE_URL=postgres://{{ db_postgres_user }}:{{ db_postgres_password }}@miniflux_db/miniflux?sslmode=disable
      - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME=administrator
      - ADMIN_PASSWORD={{ admin_pass }}
  miniflux_db:
    image: postgres:17.5
    networks:
      - local_net
    deploy:
      replicas: 1
      placement:
        constraints:
          - "node.role == manager"
    environment:
      POSTGRES_USER: "{{ db_postgres_user }}"
      POSTGRES_PASSWORD: "{{ db_postgres_password }}"
      POSTGRES_DB: miniflux
    volumes:
      - "{{ remote_data }}/miniflux/db:/var/lib/postgresql/data"
