# services:
{% for node in ['edge', 'media'] %}
  syncthing-{{ node }}:
    image: lscr.io/linuxserver/syncthing:latest
    # We assume your domain variables are named local_edge_domain and local_media_domain
    {% set current_domain = vars['local_' ~ node ~ '_domain'] -%}
    networks:
      - local_net
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ tz }}
    volumes:
      - "{{ remote_data }}/Sync:/Sync"
      - "{{ remote_data }}/syncthing:/config"
    ports:
      - target: 22000
        published: 22000
        protocol: tcp
        mode: host
      - target: 22000
        published: 22000
        protocol: udp
        mode: host
      - target: 21027
        published: 21027
        protocol: udp
        mode: host
    deploy:
      replicas: 1
      placement:
        constraints:
          # This assumes your node names in swarm are 'home-edge' and 'home-media'
          - "node.hostname == home-{{ node }}"
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.syncthing-{{ node }}.rule=Host(`sync.{{ current_domain }}`)"
        - "traefik.http.routers.syncthing-{{ node }}.entrypoints=web"
        - "traefik.http.services.syncthing-{{ node }}.loadbalancer.server.port=8384"
{% endfor %}

