services:
  traefik:
    image: traefik:v3.6.7
    command:
      - "--configfile=/etc/traefik/traefik.yml"
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.traefik.entrypoints=web"
        - "traefik.http.routers.traefik.rule=Host(`traefik.{{ top_local_domain }}`)"
        - "traefik.http.routers.traefik.service=api@internal"
        - "traefik.http.services.traefik.loadbalancer.server.port=8080"

    ports:
      - target: 80
        published: 80
        mode: host # Optional: bypasses mesh for direct performance if on manager
      - target: 443
        published: 443
        mode: host

    environment:
      - TZ={{ tz }}

    volumes:
      - "{{ remote_data }}/letsencrypt:/etc/letsencrypt:ro"
      - "{{ remote_config }}/traefik/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{ remote_config }}/traefik/dynamic/dynamic_conf.yml:/etc/traefik/dynamic/dynamic_conf.yml:ro"
      - "{{ remote_data }}/traefik/logs:/var/log/traefik"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

    networks:
      - local_net
