# Define the snippet
(my_tls) {
    tls /etc/letsencrypt/live/{{ public_top_domain }}/fullchain.pem /etc/letsencrypt/live/{{ public_top_domain }}/privkey.pem
}
# Snippet for Authentik Forward Auth
(authentik_auth) {
    forward_auth http://authentik_server:9000 {
        uri /outpost.goauthentik.io/auth/caddy
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
}

# Global Options (Optional)
{
    email {{ personal_email }}
    auto_https disable_redirects
}

# Public domains
rss.{{ public_top_domain }} {
    import my_tls
    reverse_proxy miniflux:8080
}

dns.{{ public_top_domain }} {
    import my_tls
    reverse_proxy adguardhome:80
}
wg-home.{{ public_top_domain }} {
    import my_tls
    reverse_proxy wg-easy:51821
}
ntf.{{ public_top_domain }} {
    import my_tls
    reverse_proxy gotify:80
}
auth.{{ public_top_domain }} {
    import my_tls
    reverse_proxy authentik_server:9000
}
### Portainer
portainer-home.{{ public_top_domain }} {
    import my_tls
    reverse_proxy portainer:9000
}
portainer.{{ top_local_domain }}:80 {
    reverse_proxy portainer:9000
}
### Beszel
beszel-home.{{ public_top_domain }} {
    import my_tls
    reverse_proxy beszel:8090
}
beszel.{{ top_local_domain }}:80 {
    reverse_proxy beszel:8090
}
### Home
home.{{ public_top_domain }} {
    import my_tls
    import authentik_auth
    reverse_proxy glance:8080
}
home.{{ top_local_domain }}:80 {
    reverse_proxy glance:8080
}
### Gatus
status-home.{{ public_top_domain }} {
    import my_tls
    import authentik_auth
    reverse_proxy gatus:8080
}
status.{{ top_local_domain }}:80 {
    reverse_proxy gatus:8080
}

### Upsnap
upsnap-home.{{ public_top_domain }} {
    import my_tls
    reverse_proxy {{edge_ip }}:8090
}


## Media
### Jellyfin
jellyfin-home.{{ public_top_domain }} {
    import my_tls
    reverse_proxy jellyfin:8096
}
jellyfin.{{ local_media_domain }}:80 {
    reverse_proxy jellyfin:8096
}
### Sonarr
sonarr-home.{{ public_top_domain }} {
    import my_tls
    import authentik_auth
    reverse_proxy sonarr:8989
}
sonarr.{{ local_media_domain }}:80 {
    reverse_proxy sonarr:8989
}
### Radarr
radarr-home.{{ public_top_domain }} {
    import my_tls
    import authentik_auth
    reverse_proxy radarr:7878
}
radarr.{{ local_media_domain }}:80 {
    reverse_proxy radarr:7878
}
### Bazarr
bazarr-home.{{ public_top_domain }} {
    import my_tls
    import authentik_auth
    reverse_proxy bazarr:6767
}
bazarr.{{ local_media_domain }}:80 {
    reverse_proxy bazarr:6767
}
### Prowlarr
prowlarr-home.{{ public_top_domain }} {
    import my_tls
    import authentik_auth
    reverse_proxy prowlarr:9696
}
prowlarr.{{ local_media_domain }}:80 {
    reverse_proxy prowlarr:9696
}
### Transmission
transmission-home.{{ public_top_domain }} {
    import my_tls
    import authentik_auth
    reverse_proxy transmission:9091
}
transmission.{{ local_media_domain }}:80 {
    reverse_proxy transmission:9091
}


## Sync
sync.{{ local_edge_domain }}:80 {
    reverse_proxy syncthing-edge:8384
}
sync.{{ local_media_domain }}:80 {
    reverse_proxy syncthing-media:8384
}
sync.{{ local_desktop_domain }}:80 {
    reverse_proxy {{desktop_ip }}:8384
}

